<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/ticketStyle.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/pt-br.min.js"></script>
    <script src="/js/Event.js"></script>

    <title>Detalhes pagamento</title>
  </head>
  <body
    style="height: 30%; margin: auto; width: 30%"
    onload="loadView('<%= event.startDateTime %>', '<%= event.endDateTime %>')"
  >
    <div class="album py-5 bg-body-tertiary">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <a href="/events"
          ><button
            style="
              margin-top: -25px;
              float: left;
              width: 100%;
              height: 100%;
              background-color: blue;
              color: white;
            "
          >
            Lista de Eventos
          </button></a
        >
        <% if(ticket.countInfantil > 0) { %> <% for (let i = 0; i <
        ticket.countInfantil; i++) { %>
        <div class="col" style="margin-top: 10px">
          <widget type="ticket">
            <div class="top --flex-column">
              <div class="bandname -bold">
                <p style="margin-left: 1cm"><%= event.name %></p>
              </div>
              <div class="ticket-type" style="margin-left: 1cm">
                Bilhete Infantil
              </div>
              <img
                src="/images/<%= event.image %>"
                alt="/images/EventoSemImagem"
                width="100%"
                height="100%"
              />
              <div class="deetz --flex-row-j!sb">
                <div class="event --flex-column">
                  <div class="date">
                    <p style="margin-left: 1cm" id="startDate">
                      <strong>Horário de início:</strong>
                    </p>
                    <p style="margin-left: 1cm" id="endDate">
                      <strong>Horário de fim:</strong>
                    </p>
                  </div>
                  <div class="location -bold">
                    <%= local.name %>, <%= local.county %>
                  </div>
                </div>
                <div class="price --flex-column">
                  <div class="label">Preço</div>
                  <div class="cost -bold"><%= event.priceInfantil %>€</div>
                </div>
              </div>
            </div>
            <div class="rip"></div>
            <div class="bottom --flex-row-j!sb">
              <div class="barcode"></div>
            </div>
          </widget>
        </div>
        <% } %> <% } %> <% if(ticket.countJuvenil > 0) { %> <% for (let i = 0; i
        < ticket.countJuvenil; i++) { %>
        <div class="col" style="margin-top: 10px">
          <widget type="ticket">
            <div class="top --flex-column">
              <div class="bandname -bold">
                <p style="margin-left: 1cm"><%= event.name %></p>
              </div>
              <div class="ticket-type" style="margin-left: 1cm">
                Bilhete Juvenil
              </div>
              <img
                src="/images/<%= event.image %>"
                alt="/images/EventoSemImagem"
                width="100%"
                height="100%"
              />
              <div class="deetz --flex-row-j!sb">
                <div class="event --flex-column">
                  <div class="date">
                    <p style="margin-left: 1cm" id="startDate">
                      <strong>Horário de início:</strong>
                    </p>
                    <p style="margin-left: 1cm" id="endDate">
                      <strong>Horário de fim:</strong>
                    </p>
                  </div>
                  <div class="location -bold">
                    <%= local.name %>, <%= local.county %>
                  </div>
                </div>
                <div class="price --flex-column">
                  <div class="label">Preço</div>
                  <div class="cost -bold"><%= event.priceJuvenil %>€</div>
                </div>
              </div>
            </div>
            <div class="rip"></div>
            <div class="bottom --flex-row-j!sb">
              <div class="barcode"></div>
            </div>
          </widget>
        </div>
        <% } %> <% } %> <% if(ticket.countAdulto > 0) { %> <% for (let i = 0; i
        < ticket.countAdulto; i++) { %>
        <div class="col" style="margin-top: 10px">
          <widget type="ticket">
            <div class="top --flex-column">
              <div class="bandname -bold">
                <p style="margin-left: 1cm"><%= event.name %></p>
              </div>
              <div class="ticket-type" style="margin-left: 1cm">
                Bilhete Adulto
              </div>
              <img
                src="/images/<%= event.image %>"
                alt="/images/EventoSemImagem"
                width="100%"
                height="100%"
              />
              <div class="deetz --flex-row-j!sb">
                <div class="event --flex-column">
                  <div class="date">
                    <p style="margin-left: 1cm" id="startDate">
                      <strong>Horário de início:</strong>
                    </p>
                    <p style="margin-left: 1cm" id="endDate">
                      <strong>Horário de fim:</strong>
                    </p>
                  </div>
                  <div class="location -bold">
                    <%= local.name %>, <%= local.county %>
                  </div>
                </div>
                <div class="price --flex-column">
                  <div class="label">Preço</div>
                  <div class="cost -bold"><%= event.priceAdulto %>€</div>
                </div>
              </div>
            </div>
            <div class="rip"></div>
            <div class="bottom --flex-row-j!sb">
              <div class="barcode"></div>
            </div>
          </widget>
        </div>
        <% } %> <% } %> <% if(ticket.countSenior > 0) { %> <% for (let i = 0; i
        < ticket.countSenior; i++) { %>
        <div class="col" style="margin-top: 10px">
          <widget type="ticket">
            <div class="top --flex-column">
              <div class="bandname -bold">
                <p style="margin-left: 1cm"><%= event.name %></p>
              </div>
              <div class="ticket-type" style="margin-left: 1cm">
                Bilhete Senior
              </div>
              <img
                src="/images/<%= event.image %>"
                alt="/images/EventoSemImagem"
                width="100%"
                height="100%"
              />
              <div class="deetz --flex-row-j!sb">
                <div class="event --flex-column">
                  <div class="date">
                    <p style="margin-left: 1cm" id="startDate">
                      <strong>Horário de início:</strong>
                    </p>
                    <p style="margin-left: 1cm" id="endDate">
                      <strong>Horário de fim:</strong>
                    </p>
                  </div>
                  <div class="location -bold">
                    <%= local.name %>, <%= local.county %>
                  </div>
                </div>
                <div class="price --flex-column">
                  <div class="label">Preço</div>
                  <div class="cost -bold"><%= event.priceSenior %>€</div>
                </div>
              </div>
            </div>
            <div class="rip"></div>
            <div class="bottom --flex-row-j!sb">
              <div class="barcode"></div>
            </div>
          </widget>
        </div>
        <% } %> <% } %>
      </div>
    </div>
  </body>
</html>
